* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 80%;
    margin: 15px auto 0;
    background-color: lavender;
}

#ppForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "name name" "age roll" "button button";
}

#ppForm * {
    margin: 7px;
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 10px;
    transition: all 0.3s ease;
}

#ppForm button {
    outline: none;
    background-color: #000000;
    color: white;
    border: 5px solid transparent;
    cursor: pointer;
}

#ppForm input {
    border: 6px solid #000000;
    outline: none;
}

#ppForm input:focus {
    border: 5px solid #000000;
}

#ppForm button:active {
    border-color: #000000;
}